.footer{
     /* border: 2px solid black; */
     height: 50px;
     color: white;
     background-color: #28334AFF;
     margin: auto 0px;
     padding-top: 10px;
     text-align: center;
     border-top: 2px ridge rgb(255, 255, 255, 0.2);
      
}
.text{
     /* margin: auto; */
     margin: 12px;
     color: white;
     opacity: 0.6;
     font-family: 'Do Hyeon', sans-serif;
 
}


@media only screen and (max-width: 300px) {
     .text{
          margin: 8px;
          font-size: 0.8rem;
     }
}



