*{
     margin: 0px;
     padding: 0px;
     font-family: verdana, sans-serif;
     
}
 
.navbar{
     /* border: 2px solid olivedrab; */
     display: flex;
     height: 60px;
     padding: 0px 50px 0px 50px;
     background-color: #28334AFF;
     z-index: 2;
     border-bottom: 2px ridge rgb(255, 255, 255, 0.2);
   
}
 
.logo{
     margin: auto 50px;
     padding: 0px;
     /* border: 2px solid brown; */
     font-size: 1.6rem;
     color: #00B1D2FF;
     font-weight: bold;
     text-shadow:0.1em 0.1em black;
  
}
 
nav{
     margin: auto;
}
nav ul{
     display: flex;
     /* border: 2px solid black; */
     text-decoration: none;
     list-style: none;     
 
}
nav ul li a{
     display: block;
     text-decoration: none;
     /* border: 2px sloid red; */
     margin: auto 30px;
     font-size: 1.4rem;
     color: white;
     font-weight: bold;
     
}


/* MEDIA QUERY */




 
@media only screen and (max-width: 850px) {
     .navbar{
          border: none;
     }
     nav{
          display: none;
          padding: 0px;
     }
     .logo{
          margin: auto 0px;
     }
} 